<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>868101168955-llhmiofmhbrltej55jq4tu8v8uclifsd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.868101168955-llhmiofmhbrltej55jq4tu8v8uclifsd</string>
	<key>API_KEY</key>
	<string>AIzaSyAsTXpaz6-7U8ZSgEjIvNh-aWNjk_VN6sw</string>
	<key>GCM_SENDER_ID</key>
	<string>868101168955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.lmu.Bable-Beauty</string>
	<key>PROJECT_ID</key>
	<string>babel-beauty</string>
	<key>STORAGE_BUCKET</key>
	<string>babel-beauty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:868101168955:ios:b65cbb79ffe7eec97ba11e</string>
</dict>
</plist>